.popup__container {
    width: 430px;
    height: 330px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: Inter;
}

@media screen and (max-width: 500px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
  }