.profile {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 40px;
    max-width: 880px;
    width: 69%;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .profile {
        flex-direction: column;
        justify-content: center;
    }
  }

  @media screen and (max-width: 500px) {
    .profile {
        max-width: 282px;
        width: 90%;
    }
  }

