.header {
    max-width: 880px;
    width: 69%;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-top: 45px;
    padding-bottom: 41px;
}

@media screen and (max-width: 500px) {
    .header {
        width: 100%;
        min-width: 320px;
        padding-top: 28px;
        padding-left: 27px;
        box-sizing: border-box;
        padding-bottom: 32px;
    }
  }
