.popup__item {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.popup__item:first-child {
    padding-top: 0;
}

.popup__item:focus {
    background: white;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.popup__item:active {
    outline :none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: white; 
}

@media screen and (max-width: 500px) {
    .popup__item {
        font-size: 14px;
        line-height: 17px;
    }
  }



